<form id="formJSON" action="/" method="post">
  <div>Input JSON here:</div>
  <textarea
    type="textarea" 
    id="inputJSON"
    name="inputJSON"
    rows="10"
    cols="50"/></textarea>
  <input type="submit" value="Submit" id="submitJSON"/>
</form>