<form id="formJSON" action="/" method="post" enctype="multipart/form-data">
  <div>Input JSON here:</div>
   <input type="file" 
   	id="inputJSON"
   	name="inputJSON"
   	accept=".json"/>
  <input type="submit" value="Submit" id="submitJSON"/>
</form>